/*------ footer ------*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.footer .icons .fa-brands {
    color: #31758a;
}